body {
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Inicio: Header */
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-header-footer);
    height: 96px;
}

.container-logo-header {
    width: 138px;
    height: 96px;
}

.container-logo-header img {
    width: 100%;
    height: 100%;
}

.titulo-header {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
    line-height: 1rem;
    vertical-align: middle;
    color: #E5E5E5;
}
/* Fim: Header */

/* Inicio: conteudo */
.container-conteudo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    width: 95%;
    margin: 50px auto;
}

.container-produtos{
    width: 53%;
}

.container-lista-protudos {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 550px;
    box-shadow: -12px 10px 5.8px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
}

.card {
    box-sizing: border-box;
    background: #5D04D9;
    border: 3px solid #000000;
    box-shadow: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
   /* max-width: 196px;
    max-height: 258px; */
    padding: 10px;
}

.card-img {
    width: 176px;
    height: 174px;
    border-radius: 10px;
    border: 3px solid #000000;
    
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-titulo-produto {
    margin: 10px auto;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.card-container-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-preco-produto {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.card-icon-lixeira {
    width: 24px;
    height: 24px;
}

.card-icon-lixeira img {
    width: 100%;
    height: 100%;
}

.titulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    line-height: 100%;
    margin: 40px auto;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.input-form {
    width: 392px;
    height: 58px;
    border-radius: 30px;
    border: 3px solid var(--cor-forms);
    padding-left: 15px;
    box-sizing: border-box;
}

.input-form::placeholder {
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-forms);
}

.input-form:focus {
    outline: none;
    border: 3px solid var(--cor-forms);
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-forms);
}

.container-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.btn-guardar, .btn-limpar {
    width: 188px;
    height: 55px;
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border: 3px solid var(--cor-forms);
    padding: 0px;
}

.btn-guardar {
    color: #FFFFFF;
    background-color: var(--cor-forms);
}

.btn-limpar {
    color: var(--cor-forms)
}


/* Fim: conteudo */

/* Responsividade 1050px */
@media (max-width: 1050px) {
    .input-form {
        width: 300px;
    }

    .btn-guardar, .btn-limpar {
        width: 150px;
    }
}

/* Responsividade 850px */
@media (max-width: 850px) {
    .input-form {
        width: 280px;
    }

    .btn-guardar, .btn-limpar {
        width: 130px;
    }
}

/* Responsividade 768px */
@media (max-width: 768px) {
    .container-conteudo {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        gap: 30px;
    }

    .container-produtos, .container-adicionar-produto {
        width: 95%;
    }

    .input-form {
        width: 392px;
    }

    .btn-guardar, .btn-limpar {
        width: 188px;
    }
}

/* Responsividade 425px */
@media (max-width: 425px) {
    .input-form {
        width: 300px;
    }

    .btn-guardar, .btn-limpar {
        width: 150px;
    }
}

/* Responsividade 380px */
@media (max-width: 380px) {
    .container-logo-header {
        width: 100px;
        height: 80px;
    }

    .titulo-header {
        font-size: 16px;
    }
}