@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

@import "tailwindcss";

/* stylelint-disable unknownAtRules */
@theme {
    --font-press: "Press Start 2P";
    --font-ibm: "IBM Plex Mono";
    --color-fundo-header: #5300C8;
    --color-efeito-titulo: #E53935;
    --color-fundo-card: #5D04D9;
    --shadow-header: 0px 7px 0.9px rgba(0, 0, 0, 0.25);
    --color-azul-form: #03318C;
    --shadow-card: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
    --shadow-conatiner-card: -12px 10px 5.8px rgba(0, 0, 0, 0.25);
    --breakpoint-xs: 27rem;
}



/* stylelint-enable unknownAtRules */

/* Header */

/* Layout automático */


